body[scheme="client_dark"],
body[scheme="space_gray"] {
    /* Brand */
    --primary: #FFF;
    --secondary: rgba(255, 255, 255, 0.1);

    /* OnSurface */
    --os-primary: rgba(255, 255, 255, 0.9);
    --os-secondary: rgba(255, 255, 255, 0.6);
    --os-tertiary: rgba(255, 255, 255, 0.3);

    /* OnPrimary */
    --op-primary: #000;
    --op-secondary: rgba(0, 0, 0, 0.7);

    /* Helpers */
    --error: #E12F2F;
    --error-secondary: rgba(255, 47, 47, 0.2);
    --success: #3FA44B;
    --success-secondary: rgba(63, 164, 75, 0.2);

    /* Surface */
    --background: #171717;
    --surface: #373737;
    --accent: rgba(55, 55, 55, 0.35);
    --blur-overlay: rgba(23, 23, 23, 0.7);
    --blur-overlay-fallback: #171717;

    /* State */
    --unselect: rgba(55, 55, 55, 0.35);
    --reply: #FFF;

    --color: 255, 255, 255;
}