body[scheme="client_light"],
body[scheme="bright_light"] {
    /* Brand */
    --primary: #75A4EC;
    --secondary: rgba(117, 164, 236, 0.1);

    /* OnSurface */
    --os-primary: rgba(0, 0, 0, 0.9);
    --os-secondary: rgba(0, 0, 0, 0.6);
    --os-tertiary: rgba(0, 0, 0, 0.3);

    /* OnPrimary */
    --op-primary: #FFF;
    --op-secondary: rgba(255, 255, 255, 0.7);

    /* Helpers */
    --error: #E12F2F;
    --error-secondary: rgba(255, 47, 47, 0.1);
    --success: #3FA44B;
    --success-secondary: rgba(63, 164, 75, 0.1);

    /* Surface */
    --background: #FFF;
    --surface: #FFF;
    --accent: rgba(0, 0, 0, 0.03);
    --blur-overlay: rgba(255, 255, 255, 0.7);
    --blur-overlay-fallback: #FFF;

    /* State */
    --unselect: rgba(0, 0, 0, 0.03);
    --reply: #000;

    --color: 0, 0, 0;

    /* other */
    --bar: rgba(0, 0, 0, 0.05)
}