.Photo {
    width: 100%;
    min-height: 320px;

    background-color: var(--accent);
    background-size: cover;
    background-position: center;
}

.Photo::after {
    display: block;
    content: '';
    padding-bottom: 100%;
}